@media (max-width: 649px) {
    .counter { width: 80%; height: 70%;}
    .count { margin: 1em; }
}

@media (min-width: 650px) {
    .counter { width: 80%; height: 70%;}
    .count { margin: 1em; }
}

@media (min-width: 800px) {
    .counter { width: 60%; height: 70%;}
    .count { margin: 3em; }
}

@media (min-width: 1250px) {
    .counter { width: 50%; height: 50%;}
    .count { margin: 5em; }
}

html, body {
    width: 100%;
    height: 100%;
}
body{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.aa, .bb {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.aa {
    background-image: url('img/1_slide_back.png');
     
}
.bb {
    background-image: url('img/2_slide_back.png');
}
.bb .label {
    font-size: 2em;
    display: inline-block;
    margin: 1em;
    padding: 1em;
}
.counter {
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}
.count {
    display: block;
}
.count ul li {
    width: 25%;
}
.count ul:nth-child(1) {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 100;
    font-size: 5em;
    margin: 0;
    padding: 0;
}
.count ul:nth-child(2) {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.count ul:nth-child(2) li:nth-child(1):after,
.count ul:nth-child(2) li:nth-child(2):after,
.count ul:nth-child(2) li:nth-child(3):after {
    float: right;
    content: '/';
    margin-right: -5px;
}

/* bootstrap styles */
.btn-link {
    color: white;
    transition: all 0.2s ease-out;
}
.btn-link:focus, .btn-link:hover {
    color: white;
    text-shadow: 0 3px 5px rgba(0,0,0,0.5);
    transform: scale(2);
}
